.price-details {
  width: 100%;
  max-width: 60rem;
  height: max-content;
  background-color: var(--white-pure);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
}

/* coupon */

.coupon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  gap: 5rem;
}
.coupon-input {
  width: 80%;
  margin: 2rem auto auto;
  border-radius: 7px;
  border: 2px solid black;
  padding: 0 5px;
}

.price-details-list {
  display: flex;
  justify-content: space-between;
}

.price-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.savings {
  margin-top: 3rem;
}

.btn-place-order{
  margin-top: 3rem;
}

@media screen and (max-width: 850px){
  .price-details{
    margin: auto;
  }
}