/* hero  */

.hero-container {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-illustration {
  height: 90%;
  max-height: 40rem;
  align-self: center;
  width: 100%;
}

.store-name {
  margin: 2rem 0rem;
  color: var(--primary-color);
  font-size: 7.5rem;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 8px;
  font-weight: 400;
}

.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 2rem; */
  margin-bottom: 5rem;
}

.hero-description > p {
  font-size: 4.2rem;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 3px;
}

.hero-description > .link {
  margin-top: 2rem;
}

.hero-description > .link > *{
  letter-spacing: 2px;
}

/* categories */

.categories-container {
  margin-top: 5rem;
  background-color: var(--primary-color);
  padding: 2rem 0rem 10rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.categories-container > .page-title,
.top-picks-container > .page-title {
  margin: 5rem 0;
}

/* top picks */

.top-picks-container {
  margin: 10rem 0rem;
}

.top-picks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 4rem;
}

@media screen and (max-width: 1100px){
  .store-name{
    font-size: 5.5rem;
  }
  .hero-description > p{
    font-size: 3rem;
  }
}


@media screen and (max-width: 1250px) {
  .top-picks {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .categories {
    grid-template-columns: 1fr 1fr;
  }
  .top-picks {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .top-picks {
    grid-template-columns: 1fr 1fr;
  }
  .hero-container {
    grid-template-columns: 100%;
  }
  .hero-illustration {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .categories {
    grid-template-columns: 1fr;
  }
  .top-picks {
    grid-template-columns: 1fr;
  }
}
