.navbar-container{
  padding: 3rem 5%;
}

.aside-navbar {
  position: fixed;
  z-index: 2;
  inset: 0;
  padding-top: 1rem;
  height: 100vh;
  width: 60%;
  background-color: var(--primary-color);
  background-color: var(--white-pure);
}

.nav-links-container {
  gap: 3rem;
  align-items: center;
}

.aside-nav-links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.aside-close-btn{
  min-width: unset;
  min-height: unset;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
    right: 5px;
    top: 5px;
}

.aside-close-btn > *{
  font-size: 1.6rem;
}

.nav-link{
  font-size: 2rem;
  cursor: pointer;
}

.nav-logo {
  font-size: 3.8rem;
  font-family: "Yellowtail", cursive;
  letter-spacing: 8px;
  font-weight: 400;
}

.nav-search,
.aside-nav-search {
  width: 35%;
  height: 3.5rem;
  background-color: var(--white);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  padding: 2rem;
}

.nav-search-input {
  flex: 1;
  margin-left: 5px;
  height: 4rem;
  border: none;
  border-radius: 3rem;
  outline: none;
  background-color: var(--white);
}

.nav-icon {
  font-size: 2rem;
  color: var(--white);
}

.aside-nav-icon{
  color: var(--black);
}

.nav-icon > .badge {
  font-size: 1.6rem;
  background-color: var(--dark-blue);
  font-family: "Font Awesome 5 Free";
}

.aside-nav-icon >  .badge{
  background-color: var(--primary-color);
  color: var(--white);
}

.input {
  background-color: var(--white);
  border: none;
}
@media screen and (max-width: 800px) {
  .nav-links-container,
  .nav-search {
    /* display: flex;
    flex-direction: column; */
    display: none;
  }
  .navbar-container {
    flex-direction: column;
  }
  .hamburger-icon {
    display: block;
    top: 4rem;
    left: 1rem;
    right: unset;
  }
}

@media screen and (min-width: 800px){
  .aside-navbar{
    display: none;
  }
}