.nav-links-container {
  gap: 3rem;
  align-items: center;
}
.nav-logo {
  font-size: 3.2rem;
}

.nav-icon {
  font-size: 2rem;
  color: var(--white);
}
.nav-icon > .badge {
  font-size: 1.6rem;
  background-color: var(--dark-blue);
}

.input {
  background-color: var(--white);
  border: none;
}
@media screen and (max-width: 800px) {
  .nav-links-container {
    display: flex;
    flex-direction: column;
  }
  .navbar-container {
    flex-direction: column;
  }
  .hamburger-icon {
    display: block;
    top: 2.8rem;
  }
}
