.password {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .password::before {
    font-family: "FontAwesome";
    position: absolute;
    right: 1rem;
    top: 5px;
  }
  
  .show-password::before{
    content: "\f070";
  }
  
  .hide-password::before{
    content: "\f06e";
  }
  