.user-profile {
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.profile-card-head {
  display: flex;
  gap: 1rem;
}

.user-address {
  text-align: center;
  position: relative;
  max-width: 17rem;
}

.address-edit {
  position: absolute;
  top: 3px;
  right: -4rem;
}
